.DS_Store
target
bin
ruleModelHelper.plist
.gradle
dist
doc
build.number
build
.sass-cache
.gradle
.idea
.vscode
.directory
out/
docs/
*.iml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
*.iws
